<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <!--begin::Sidebar Brand-->
    <div class="sidebar-brand">
        <!--begin::Brand Link-->
        <a href="Dashboard" class="brand-link">
            <!--begin::Brand Image-->
            <img src="@Url.Content("~/theme/assets/img/AdminLTELogo.png")"
                 alt="AdminLTE Logo"
                 class="brand-image opacity-75 shadow" />
            <!--end::Brand Image-->
            <!--begin::Brand Text-->
            <span class="brand-text fw-light">ExamVaults</span>
            <!--end::Brand Text-->
        </a>
        <!--end::Brand Link-->
    </div>
    <!--end::Sidebar Brand-->
    <!--begin::Sidebar Wrapper-->
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <!--begin::Sidebar Menu-->
            @using Examify.Extensions
            @{
                var userRole = User.GetRole() ?? "";
            }
            <ul class="nav sidebar-menu flex-column"
                data-lte-toggle="treeview"
                role="navigation"
                aria-label="Main navigation"
                data-accordion="false"
                id="navigation">

                <li class="nav-item">
                    <a href="@Url.Action("Index", "Dashboard")" class="nav-link">
                        <i class="nav-icon bi bi-speedometer"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                @if (userRole == "Admin" || userRole == "Institute")
                {
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Class")" class="nav-link">
                            <i class="nav-icon bi bi-book"></i>
                            <p>Class</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Subject")" class="nav-link">
                            <i class="nav-icon bi bi-journal"></i>
                            <p>Subject</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Student")" class="nav-link">
                            <i class="nav-icon bi bi-people"></i>
                            <p>Student</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Question")" class="nav-link">
                            <i class="nav-icon bi bi-question-circle"></i>
                            <p>Question Bank</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Exam")" class="nav-link">
                            <i class="nav-icon bi bi-file-earmark-text"></i>
                            <p>Exam Setup</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "QuestionExtractor")" class="nav-link">
                            <i class="nav-icon bi bi-upc-scan"></i>
                            <p>OCR Question Extractor</p>
                        </a>
                    </li>
                }
                @if (userRole == "Student")
                {
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "ExamSession")" class="nav-link">
                            <i class="nav-icon bi bi-pencil-square"></i>
                            <p>Exam Session</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("UserExam", "ExamSession")" class="nav-link">
                            <i class="nav-icon bi bi-pencil-square"></i>
                            <p>User Taken</p>
                        </a>
                    </li>
                }

            </ul>
            <!--end::Sidebar Menu-->
        </nav>
    </div>
    <!--end::Sidebar Wrapper-->
</aside>