@{
    ViewBag.Title = "Exams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css">

<link href="@Url.Content("~/theme/plugins/datatables-2.3.4/css/datatables.bootstrap.css")" rel="stylesheet" />
<link href="@Url.Content("~/theme/plugins/datatables-2.3.4/css/datatables.bootstrap5.min.css")" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

<div class="app-content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-0">Manage Exam</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Exam</li>
                </ol>
            </div>
            <div class="col-md-2 mt-3">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-primary" id="btnAddNewExam">
                        Add New
                    </button>
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="ExamTable">
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="examModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5">Add/Update Exam</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body examModalBody">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js"></script>
    <!-- Quill core -->
    <script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>

    <!-- Image resize module -->
    <script src="https://cdn.jsdelivr.net/npm/quill-image-resize-module@3.0.0/image-resize.min.js"></script>

    <script src="@Url.Content("~/theme/plugins/datatables-2.3.4/js/datatables.js")"></script>
    <script src="@Url.Content("~/theme/plugins/datatables-2.3.4/js/datatables.bootstrap5.min.js")"></script>
    <script src="@Url.Content("~/scripts/custom/exam/examdatatable.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
}


<script>
    var PublishExamUrl = "@ViewBag.PublishExamUrl";
    var loadExamUrl = '@Url.Action("LoadExams", "Exam")';
    var createExamUrl = '@Url.Action("Create", "Exam")';
    var editExamUrl = '@Url.Action("Edit", "Exam")';
    var changeStatusUrl = '@Url.Action("ChangeStatus", "Exam")';


</script>
